<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>26</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://softcat.co.kr/software-downloads/4/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>C:\Users\IRENE_XD\Desktop\새 폴더\네이버밴드글등록기\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ProductName>N사 DB 추출기</ProductName>
    <PublisherName>SOFTCAT</PublisherName>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <TrustUrlParameters>False</TrustUrlParameters>
    <ManifestCertificateThumbprint>D24F724DD86EE8B256637340CE673A933D7B8131</ManifestCertificateThumbprint>
    <UseApplicationTrust>True</UseApplicationTrust>
    <AutorunEnabled>True</AutorunEnabled>
    <SuiteName>SOFTCAT</SuiteName>
    <TargetCulture>ko-KR</TargetCulture>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET 런타임 8.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <FileAssociation Include=".softcat2.ico">
      <Visible>False</Visible>
      <Description>로고</Description>
      <Progid>1</Progid>
      <DefaultIcon>softcat2.ico</DefaultIcon>
    </FileAssociation>
  </ItemGroup>
  <ItemGroup>
    <PublishFile Include="softcat2.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>