<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>22</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <AutorunEnabled>True</AutorunEnabled>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://softcat.co.kr/software-downloads/7/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>C:\Users\IRENE_XD\Desktop\새 폴더\네이버카페글등록기\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(없음)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0</TargetFramework>
    <TrustUrlParameters>False</TrustUrlParameters>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <ProductName>N사 카페 글 등록기</ProductName>
    <PublisherName>SOFTCAT</PublisherName>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SuiteName>SOFTCAT</SuiteName>
    <UseApplicationTrust>True</UseApplicationTrust>
    <History>True|2025-05-17T13:52:03.8156543Z||;True|2025-05-17T21:59:30.0613383+09:00||;True|2025-05-17T19:35:07.3012386+09:00||;True|2025-05-17T19:19:21.8067946+09:00||;True|2025-05-17T18:47:17.0448624+09:00||;True|2025-05-17T18:12:21.5304634+09:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.EdgeRuntime">
      <Install>true</Install>
      <ProductName>Edge WebView runtime</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <PublishFile Include="softcat2.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>